version: 2
updates:
  - package-ecosystem: maven
    directory: "/java"
    schedule:
      interval: weekly
      day: monday
      timezone: Europe/London
    open-pull-requests-limit: 50
    assignees:
      - RichardSlater
    rebase-strategy: disabled
    groups:
      low-risk:
        applies-to: version-updates
        update-types:
          - "minor"
          - "patch"
